CONFIG_LWIP_PPP_SUPPORT=y
CONFIG_LWIP_PPP_SERVER_SUPPORT=y

CONFIG_EXAMPLE_USE_INTERNAL_ETHERNET=y
CONFIG_ZIGBEE_GW_AUTO_UPDATE_RCP=y
CONFIG_PIN_TO_RCP_RESET=7
CONFIG_PIN_TO_RCP_BOOT=8
CONFIG_PIN_TO_RCP_TX=4
CONFIG_PIN_TO_RCP_RX=5
CONFIG_ZIGBEE_GW_RCP_CHIP_ESP32C6=y
