.cache
compile_commands.json
*.swp

# ESP-IDF default build directory name
build
build/
build_*/
sdkconfig
sdkconfig.old
dependencies.lock

esp_zigbee_greenpower/
esp_zigbee_customized_devices/
__pycache__/
out/
_build/
managed_components/
managed_components/espressif__esp-zboss-lib/
managed_components/espressif__esp-zigbee-lib/

pytest_embedded_log/
# VS Code Settings
.vscode/

# clangd set
.clangd
compile_commands.json
.clang-format

# pre-commit
.pre-commit-config.yaml
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/.component_hash
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/idf_component.yml
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/esp_zigbee_attribute.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/esp_zigbee_core.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/esp_zigbee_ota.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/esp_zigbee_secur.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/esp_zigbee_type.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/esp_zigbee_version.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/bdb/esp_zigbee_bdb_commissioning.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/bdb/esp_zigbee_bdb_touchlink.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/ha/esp_zigbee_ha_standard.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/zcl/esp_zigbee_zcl_basic.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/zcl/esp_zigbee_zcl_command.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/zcl/esp_zigbee_zcl_common.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/zcl/esp_zigbee_zcl_fan_control.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/zcl/esp_zigbee_zcl_pressure_meas.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/zdo/esp_zigbee_zdo_command.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/zdo/esp_zigbee_zdo_common.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32/libesp_zb_api.zczr.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32/libesp_zb_api.zczr.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32/libzboss_port.remote.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32/libzboss_port.remote.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c3/libesp_zb_api.zczr.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c3/libesp_zb_api.zczr.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c3/libzboss_port.remote.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c3/libzboss_port.remote.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libesp_zb_api.ed.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libesp_zb_api.ed.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libesp_zb_api.gpd.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libesp_zb_api.zczr.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libesp_zb_api.zczr.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libzboss_port.native.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libzboss_port.native.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libzboss_port.remote.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libzboss_port.remote.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c6/libesp_zb_api.ed.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c6/libesp_zb_api.ed.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c6/libesp_zb_api.zczr.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c6/libesp_zb_api.zczr.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c6/libzboss_port.native.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c6/libzboss_port.native.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c6/libzboss_port.remote.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c6/libzboss_port.remote.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32h2/libesp_zb_api.ed.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32h2/libesp_zb_api.ed.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32h2/libesp_zb_api.zczr.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32h2/libesp_zb_api.zczr.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32h2/libzboss_port.native.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32h2/libzboss_port.native.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32s2/libesp_zb_api.zczr.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32s2/libesp_zb_api.zczr.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32s2/libzboss_port.remote.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32s2/libzboss_port.remote.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32s3/libesp_zb_api.zczr.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32s3/libesp_zb_api.zczr.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32s3/libzboss_port.remote.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32s3/libzboss_port.remote.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/.component_hash
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/idf_component.yml
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/esp_zigbee_attribute.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/esp_zigbee_core.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/esp_zigbee_ota.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/esp_zigbee_secur.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/esp_zigbee_type.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/esp_zigbee_version.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/bdb/esp_zigbee_bdb_commissioning.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/bdb/esp_zigbee_bdb_touchlink.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/ha/esp_zigbee_ha_standard.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/zcl/esp_zigbee_zcl_basic.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/zcl/esp_zigbee_zcl_command.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/zcl/esp_zigbee_zcl_common.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/zcl/esp_zigbee_zcl_fan_control.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/zcl/esp_zigbee_zcl_pressure_meas.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/zdo/esp_zigbee_zdo_command.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/include/zdo/esp_zigbee_zdo_common.h
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32/libesp_zb_api.zczr.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32/libesp_zb_api.zczr.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32/libzboss_port.remote.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32/libzboss_port.remote.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c3/libesp_zb_api.zczr.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c3/libesp_zb_api.zczr.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c3/libzboss_port.remote.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c3/libzboss_port.remote.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libesp_zb_api.ed.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libesp_zb_api.ed.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libesp_zb_api.gpd.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libesp_zb_api.zczr.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libesp_zb_api.zczr.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libzboss_port.native.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libzboss_port.native.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libzboss_port.remote.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c5/libzboss_port.remote.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c6/libesp_zb_api.ed.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c6/libesp_zb_api.ed.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c6/libesp_zb_api.zczr.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c6/libesp_zb_api.zczr.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c6/libzboss_port.native.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c6/libzboss_port.native.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c6/libzboss_port.remote.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32c6/libzboss_port.remote.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32h2/libesp_zb_api.ed.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32h2/libesp_zb_api.ed.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32h2/libesp_zb_api.zczr.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32h2/libesp_zb_api.zczr.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32h2/libzboss_port.native.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32h2/libzboss_port.native.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32s2/libesp_zb_api.zczr.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32s2/libesp_zb_api.zczr.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32s2/libzboss_port.remote.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32s2/libzboss_port.remote.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32s3/libesp_zb_api.zczr.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32s3/libesp_zb_api.zczr.debug.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32s3/libzboss_port.remote.a
examples/esp_zigbee_cordinator/managed_components/espressif__esp-zigbee-lib/lib/esp32s3/libzboss_port.remote.debug.a
