menu "ESP Zigbee CLI example"

    menu "Board UART port Configuration"
    depends on ZB_RADIO_SPINEL_UART
        config PIN_TO_RCP_TX
            int "Pin to RCP TX"
            default "5"

        config PIN_TO_RCP_RX
            int "Pin to RCP RX"
            default "4"
    endmenu
    
    config ZB_CLI_ENABLE
        bool 'Enable CLI command functions'
        default True
        help
            This has to be always enabled if we use CLI example
endmenu
